<agm-map [latitude]="location.latitude" [longitude]="location.longitude" [zoom]="12" [scrollwheel]="false">
  <agm-polyline [strokeColor]="'red'" [strokeWeight]="5">
    <ng-container *ngFor="let reading of readings">
      <agm-polyline-point [longitude]="reading.location.longitude"
                          [latitude]="reading.location.latitude">
      </agm-polyline-point>
    </ng-container>
  </agm-polyline>

  <agm-marker *ngFor="let comment of comments"
              [longitude]="comment.location.longitude"
              [latitude]="comment.location.latitude">

    <agm-info-window>
      {{comment.text}}
    </agm-info-window>
  </agm-marker>
</agm-map>
